*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: grid;
  place-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 133px 30px;
  font-weight: 400;
  line-height: normal;
}


h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display:flex;
  align-items: flex-end;
  gap: 30px;
  inline-size: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
  inline-size: 100%;
  block-size: 100%;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-block-end: 5px;
  font-family: inherit;
  font-size: 18px;
  font-style: inherit;
  font-weight: 400;
  line-height: inherit;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '' ;
  min-inline-size: 15px;
  min-block-size: 15px;
  background-color: #fff;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__textfield {
  min-inline-size: 225px;
  min-block-size: 27px;
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__submit-button {
  align-self: flex-end;
  min-inline-size: 194px;
  min-block-size: 34px;
}

.button {
  border: 1px solid #fff;
  height: 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid currentColor;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 6px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.title {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-style: inherit;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.visually-hidden {  /*скрыть лишние лейблы и браузерные чекбоксы*/
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content__accent {
  color: #545050;
}

.content__list {
 /* display: flex;
  flex-direction: column;
  gap: 30px; */
  position: relative;
  overflow: auto;
  block-size: 298px;
}

.content__list::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.content__list-item:not(:last-of-type) {
  margin-block-end: 30px;
}

.content__list-item:hover {
  background-color: #545050;
  cursor: pointer;
 }

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-title {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  hyphens: auto;
  margin-block-end: 6px;
}

.content__card-link {
  color: inherit;
  text-decoration: none;
  display: block;
  margin: 2px;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer
}

.content__card-link:focus {
  outline: none;
} 

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current { 
  background-color: #545050;
}

.content__video-card-description {
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-thumbnail {
  min-inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  inline-size: 100%;
  min-block-size: 34px;
}